<div class="back">
 <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 xl12 center-align">
        <h1 class="flowtext">CREA TUS ESPACIOS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 xl12 center-align">
        <%= link_to("Continuar", espacio_path, class: "btn waves-effect waves-ligth")  %>
      </div>
    </div>
  </div>
</div>