//variables
$nav-color: #005DAD;
$collapse-color: #fff;
$margin-top: 20px;

.master{ //first page subtitle
  font-family: 'BenchNine', sans-serif;
  font-size: 58px;
  margin-top: 350px;
  text-align: center;
  color: #000;
  margin-bottom: 160px;
}
.back{
  background-image: url("../img/mt2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}
.dropdown-button{
  margin-right: 15px;
  margin-top: 35px;
}

.dropdown-content{
  margin-top: 35px;
  width: 180px;
}
.btn{
  background-color: $nav-color;
  &:hover{
    background-color: #fff;
  }
}
nav{ //espacios
  background-color: $nav-color;
  margin-bottom: 50px;
  height: 60px;
}

:hover{
  color: $nav-color;
}
//___________________________test______//

.circle{
  width: 115px;
  height: 115px;
  display: inline-block;
}

/*span{
  margin-left: -95px;
  position:relative;
  top:20px;
  text-align: center;
  display: inline;
}*/

.carrusel{
  width: auto;
  position: relative;
  left: 280px;
  top: 50px;
  height: auto;
}
#add{
  @extend #scale-demo;
}

#scale-demo{
  margin-left: 30px;
  margin-top: -8px;
  margin-bottom: 5px;
}
.sidebar{
  margin-left: -90px;
  margin-top: -670px;
}
