//variables
$nav-color: #005DAD;
$collapse-color: #fff;
$margin-top: 20px;
.master{ //first page subtitle
  font-family: 'BenchNine', sans-serif;
  font-size: 58px;
  margin-top: 350px;
  text-align: center;
  color: #000;
  margin-left: 80px;
  margin-bottom: 160px;
}
.dropdown-button{
  margin-right: 15px;
  margin-top: 35px;
}
.left{

  margin-left: 15px;
}
.dropdown-content{
  @extend .dropdown-button ;
}
.btn{
  background-color: $nav-color;
}
nav{ //espacios
  background-color: $nav-color;
  margin-bottom: 50px;
  height: 60px;
}
p{
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #000;
  position: relative;
  top: 80px;
  left: -80px;
}
.last{
  @extend p;
  left: -90px !important;
}
.bath{
  width: 104px;
  height: 104px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: -60px;
}
.living{
  @extend .bath;
}
.cocina{
  @extend .bath;
}
.jardin{
  @extend .bath;
}
.carousel{
  margin-bottom: 10px;
  margin-top: -60px;
}
.card-image{
  img{
    width: 100% !important;
    height: 50% !important;
  }
}
.card{
  width: 300px !important;
  height: auto !important;
}
:hover{
  color: $nav-color;
}
