/*INDEX*/
@font-face
{
   font-family: "miso";
   src: url("/assets/miso.eot");
   src: url("/assets/miso.eot?#amomiso") format("embedded-opentype"),
        url("/assets/miso.woff") format("woff"),
        url("/assets/miso.ttf") format("truetype"),
        url("/assets/miso.svg#IDdelafuente") format("svg");
}
p{
  line-height: 150%;
  font-family: "miso";
  font-size: 16px;
}
h1 {
font-family:"miso";
font-weight: bold;
font-size: 56px;
color: #000;
margin-top: 180px;
}
h5{
  font-family: "miso";
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin-top: 80px;
}
.btn{
  background-color: #1176BD;
}

.back{
  background-image: url("mt1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1600px;
  background-position: left;
  height:1024px;
  overflow-x:hidden;
}
/*--------------------------espacios---------------*/
nav{
  background-color: #EE192C;
}
.dropdown-button{
  margin-right: 20px;
  background-color: #E10024;
}
/*cambiar tamaño del dropdown list*/
.dropown-content{
  width: 260px !important;
  padding: 5px !important;
}
.car{
  color: #fff;
}
.fondo{
    background-image: url('mesamadera.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px !important;
    height:1080px !important;
    background-attachment: fixed;
    overflow-x:hidden !important;
}
.brand-logo img{
  width: 45px;
  height: 40px;
  margin-top: 5px;
}
.left-sidebar {
  width: 230px;
  height: 1080px;
  top: 50px;
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
a:hover  {
font-size:26px;
transition: all 0.3s ease;
color: #E10024;
font-weight: bold;
}
h5:hover {
font-size: 40px;
transition: all 0.3s ease;
color: #E10024;
}
.main-container {
  height: 100%;
  width: 100%;
  margin-left: 300px;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: -20px;
}
#dos{
margin-left: 25px;
}
.segundo{
  margin-top: 10px;
}
.title{
  margin-left: 42px;
  text-align: center;
  font-size: 18px;
  font-family: "miso"
}
span{
  font-size: 18px;
  margin-left: -10px;
  font-family: "miso"
}
/*---------------------------------CARRUSEL-------------*/
.card{
  position: absolute;
  left: 30px;
  top: 30px;
  width: 75%;
  font-size: 20px;
  font-family: "miso"
}

.disable_link{
  pointer-events: none;
  cursor: default;
}

.text_link_selected{
  font-weight: bolder;
  color: black;
}
input[type="radio"]+label:before{
  border: none !important;
  visibility: hidden;
}
input[type="radio"]+label:after{
  border: none !important;
  visibility: hidden;
}
label.like-label{
  width: 40px !important;
  height: 40px !important;
}
label.like-label > i{
  margin-left: -35px;
}
input[type="radio"]:checked + label > i {
  color: red;
}
.slick-prev:before {
  font-size: 30px;
}
div.slick-slide > div.card{
  width: 60%;
}
span#carrito-bagde{
  display: inline-block !important;
  float: none !important;
  margin-left: 15px !important;
  line-height: 22px !important;
  height: 20px !important;
  background-color: white !important;
  color: #E10024 !important;
  border-radius: 14px !important;
}
i.carrito-icon{
  margin-left: -17px;
  position: absolute;
}
/*cambiar color a los botones*/
.waves-effect{
  background-color: #006BB1 !important;
}
.btn-small{
  background-color: #006BB1 !important;
}
